rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isAdmin() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }

    match /users/{userId} {
      allow read, write: if isAdmin();
      allow create: if request.auth.uid == userId;
      allow get, update: if request.auth.uid == userId;
      
      match /completedTasksHistory/{historyId} {
        allow read, write: if request.auth.uid == userId || isAdmin();
      }

      match /redemptions/{redemptionId} {
        allow read, create, update: if request.auth.uid == userId;
        allow list: if request.auth.uid == userId;
      }
    }

    match /tasks/{taskId} {
      allow read, write: if isAdmin();
      allow get, list: if request.auth != null;
    }

    match /rewards/{rewardId} {
       allow read, write: if isAdmin();
       allow get, list: if request.auth != null;
    }

    match /referrals/{referralId} {
      allow read: if request.auth != null && resource.data.referrerId == request.auth.uid;
      allow create: if request.auth != null;
    }
    
    match /{path=**}/redemptions/{redemptionId} {
      allow read, write: if isAdmin();
    }
  }
}
