rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
  
    function isOwner(userId) {
      return request.auth.uid == userId;
    }

    function isAdmin() {
      return request.auth.uid != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }

    match /users/{userId} {
      allow read: if true;
      
      allow create: if request.auth.uid == userId
                    && request.resource.data.uid == userId
                    && request.resource.data.email == request.auth.token.email
                    && request.resource.data.username is string
                    && request.resource.data.createdAt == request.time
                    && request.resource.data.role == 'user'
                    && request.resource.data.points == 0
                    && request.resource.data.referrals == 0
                    && request.resource.data.referralCode is string
                    && (
                         !('referredByCode' in request.resource.data) || 
                         request.resource.data.referredByCode is string
                       );
                       
      allow update: if isOwner(userId)
                    && request.resource.data.username != resource.data.username
                    && request.resource.data.points == resource.data.points; // Allow username change
                    
      allow update: if isOwner(userId)
                    && request.resource.data.username == resource.data.username
                    && request.resource.data.points == resource.data.points + request.resource.data.points - resource.data.points; // Allow points increment
    }

    match /users/{userId}/completedTasksHistory/{historyId} {
      allow read, write: if isOwner(userId);
    }

    match /users/{userId}/redemptions/{redemptionId} {
        allow read, write: if isOwner(userId);
        allow list: if isOwner(userId) && 'orderBy' in request.query && request.query.orderBy == 'requestedAt desc';
    }
    
    match /referrals/{referralId} {
        allow read, write: if isAdmin() || isOwner(request.resource.data.referrerId);
    }
    
    match /rewards/{rewardId} {
        allow read: if true;
        allow create, delete: if isAdmin();
    }
    
    match /tasks/{taskId} {
      allow read: if true;
      allow create, delete: if isAdmin();
      allow update: if isAdmin() || (
        request.resource.data.completions == resource.data.completions + 1
      );
    }

    // Admin access to all user redemptions
    match /{path=**}/redemptions/{redemptionId} {
      allow read, write: if isAdmin();
    }
  }
}
